<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>svn_gilroy_regular.otf</string>
		<string>svn_gilroy_medium.otf</string>
		<string>svn_gilroy_semi_bold.otf</string>
		<string>svn_gilroy_bold.otf</string>
	</array>
</dict>
</plist>
